<br><br><br>

# **Hi, I'm Binh!**

<div class="row justify-content-center align-items-center p-4">
  I'm a Machine Learning Engineer. I grew up in the San Francisco Bay Area, where I now reside. I'm currently working on simplifying the machine learning pipeline with MLOps and writing tutorials on how to deploy ML models.
  <br><br> Previously, I was at Apple, Western Digital, and PG&E.
  I graduated from USC with a M.S. in Electrical Engineering, where I specialized in Machine Learning and AI.
  <br><br> This is where I'll post my background, my current and past projects, and my ideas in the form of a blog.
  <div class="col-lg-4 col-md-6 text-center mt-4">
  
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <picture>
          <source type="image/webp" srcset="{{ site.author.image_webp }}" >
          <img src="{{ site.author.image_webp }}" title="{{ site.title }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
        </picture>
      </div>
    </div>
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s"></p>
  </div>
</div>


