.search-box {
  box-shadow: none !important;
}

.post.card-columns {
    column-count: 2;
}


.post.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
  }
}