.social {
  text-decoration: none !important;
}

#attribution {
  opacity: 0.4;
  a {
    text-decoration: none;
    color:#6c757d;
  }
  a:hover {
    color: #fc6c85;
  }
}

@media only screen and (min-width: 768px) {
  #attribution {
    bottom: 56px;
  }
}
